
@{
    ViewBag.Title = "PlaceOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="display:flex;justify-content:center;align-items:center">
    <img src="@Url.Content("~/Images/thanks.jpg")" alt="" height="700px" width="800px">
</section>

